
{% extends "core/base.html" %}

{% load static %}

{% comment %} {% static  "js/temperature_ajax.js" %} {% endcomment %}
{% block content %}

{% comment %} {% csrf_token %} {% endcomment %}
<script src="{% static 'js/temperature_ajax.js' %}"></script>
{% comment %} temperature_ajax.js scripti random olarak djangonun ürettiği değerleri 20 sn de dashboarddda basar. {% endcomment %}

<script>
const timer=() => {
  const time = new Date();
  const time_string= time.toLocaleTimeString();
  document.getElementById("saat").innerHTML=time_string;
}
  setInterval(timer,1000);
  </script>
<div class="container">

  {% comment %} <h3 class="bg-primary text-center">TÜM CİHAZLAR</h3>  {% endcomment %}
  {% comment %} <h3 class="text-center">TÜM KAYITLAR</h3>  {% endcomment %}
  <div class="row">
    <div class="col-sm-4 d-flex align-items-end">
      <b id="saat"> </b>
    </div>
    <div class="col-sm-4 d-flex align-items-end mt-3">
      <h3 class="text-center">TÜM KAYITLAR</h3>
    </div>
  <div class="col-sm-4 d-flex justify-content-end mt-3">
    <a href="/app_monitor/export_to_excel_all"> <button class="btn btn-success">EXCEL</button> </a> 
   </div>
  </div>
        <div id="temperature_ajax">
            <b>Kayıt Sayısı: </b>{{kayit_sayisi_total_ajax}} <br>
               <table class="table table-hover">
              <thead>
                 <tr>
                  <th scope="col">id</th>
                  <th scope="col">Cihaz Adı</th>
                  <th scope="col">Cihaz ID</th>
                  <th scope="col">Sıcaklık</th>
                  <th scope="col">Nem</th>
                  <th scope="col">Voltaj</th>
                  <th scope="col">Tarih</th>
                  <th scope="col">Açıklama</th>         
                 </tr>
               </thead>
             <tbody>
            
             {% comment %} {% for temp in tempsajax %} {% endcomment %}
             {% for temp in devicePaginator %}
             <tr>
                 {% if temp.temperature >= 45 %} <!--  if komutuyla sıcaklık 30 üstü olanlar kırmızı satır olacak --> 
               <th scope="row" style="background-color:#FF0000">{{temp.id}}</th>
               <td style="background-color:#FF0000">{{temp.temperature}}</td>
              <!--  <td> {{temp.date}}</td>  ilk hali saniyesiz --> 
                <td style="background-color:#FF0000"> {{temp.date|date:'Y-m-d H:i:s'}}</td> <!--  -->        
                     {% if temp.mailSend == False %}
                     <td style="background-color:#FF0000"> {{temp.mailSend}}</td>
                     {% else %}
                     <td style="background-color:#0000FF"> {{temp.mailSend}}</td>
                     {% endif %}
                 
                 {% else %}
          
               <th scope="row" >{{temp.id}}</th>
               <td> <a target="_blank" href="/app_monitor/cihazlar/{{temp.device_name}}/port={{temp.device_id.device_port}}" >{{temp.device_name}}</a> </td>
               <td> <a target="_blank" href="/app_monitor/cihazlar/{{temp.device_id}}" >{{temp.device_id}}</a> </td>
               {% comment %} <td> {{temp.device_id}}</td> {% endcomment %}
               <td >{{temp.temperature}}</td>
               <td >{{temp.humidity}}</td>
               <td >{{temp.volcum}}</td>
               <!--  <td> {{temp.date}}</td>  ilk hali saniyesiz --> 
               <td > {{temp.date|date:'Y-m-d H:i:s'}}</td> <!--  -->  
               <td >
                {% comment %} <button type="button" data-bs-toggle="modal" data-bs-target="#modal1" data-bs-toggle="modal">...</button> {% endcomment %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal{{temp.id}}" data-bs-toggle="modal">...</button>
                <span class="d-inline-block text-truncate" style="max-width: 150px;" >{{temp.additionalText}}</span>
                {% comment %} <div class="modal" id="modal1" data-bs-backdrop="static"> {% endcomment %}
                <div class="modal" id="modal{{temp.id}}" data-bs-backdrop="static">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">ID:{{temp.id}},Cihaz Adı:{{temp.device_name}}  </h4>
                        {% comment %} <button class="close">kapat</button> {% endcomment %}
                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button> <!-- data-dismiss değil data-bs-dismiss OLMALI -->  
                      </div>
                      <form action="/app_monitor/additional_text">
                      <div class="modal-body">
                          <div class="mb-3">
                            <label for="acknowledge">Açıklama</label>
                            <textarea class="form-control" name="additional_text" id="additional_text" rows="5" >{{temp.additionalText}}</textarea>
                            {% comment %} <label id="modal_id" for="" name="{{modal_id}}" hidden>{{temp.id}} </label> {% endcomment %}
                            <input hidden type="text" name="temp_id" value="{{temp.id}} ">
                            <input hidden type="text" name="temp_user" value="{{request.user.username}} ">
                          </div>
                        </div>
                        <div class="modal-footer">
                          {% comment %} <button  class="btn btn-secondary" data-bs-dismiss="modal">Sil</button> {% endcomment %}
                          <a class="btn btn-secondary" href="/app_monitor/additional_text_sil/{{temp.id}}" > Sil</a>
                          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="modal_kaydet">Kaydet </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </td>
               <!-- Scrollable modal -->
          
               {% endif %}
             
             </tr>  
          
           {% endfor %}
             </tbody>
            </table>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center mb-3">
               <!-- <br>
              <select name="" id="">
                {% for device in device_query %}
                <option value="{{device.device_name}}">
                <a href="/app_monitor/cihazlar/{{device.device_name}}">{{device.device_name}}</a> 
              </option>
                {% endfor %}
              </select> -->

              <a href="/app_monitor/cihazlar_tum" target="_blank">Tüm Cihazlar:</a> 
              
              <br>
              {% for device in device_query %}
              {% comment %} <a href="/app_monitor/cihazlar/{{device.device_name.capitalize}}" target="_blank">{{device.device_name}}</a> , {% endcomment %}
              {% comment %} <a href="/app_monitor/cihazlar/{{device.device_name.capitalize}}/port={{device.device_port}} " target="_blank">{{device.device_name}}</a> , {% endcomment %}
              {% comment %} <a href="/app_monitor/cihazlar/{{device.device_name.capitalize}}/devid={{device.pk}}/port={{device.device_port}} " target="_blank">{{device.device_name}}-{{device.device_id}} </a> , {% endcomment %}
              <a href="/app_monitor/cihazlar/{{device.device_name.capitalize}}/port={{device.device_port}}/devid={{device.pk}} " target="_blank">{{device.device_name}}-{{device.device_id}} </a> ,
              {% endfor %}
              <br>
              <!-- Cihazlar{{device_query}} -->             
              </div>
              </div>
        </div>
{% endblock content %}
