
{% extends "core/base.html" %}

{% load static %}

{% block title %}
<title> {{device_name}} EKRANI</title>
{% endblock title %} 

{% comment %} {% static  "js/temperature_ajax.js" %} {% endcomment %}
{% block content %}

{% comment %} <script src="{% static 'js/temperature_ajax.js' %}"></script> {% endcomment %}
{% comment %} temperature_ajax.js scripti random olarak djangonun ürettiği değerleri 20 sn de dashboarddda basar. {% endcomment %}


<div class="container">
<h3>{{device_name}} SICAKLIK TABLOSU </h3> 
{% comment %} {% csrf_token %} {% endcomment %}
<button class="btn btn-danger">BOOTSTRAP...</button>

        <div >
            <br><br>
            
            <b>Son Kayıtlar: </b> <br>
               <table class="table">
              <thead>
                 <tr>
                   <th scope="col">id</th>
                   <th scope="col">Cihaz Adı</th>
                   <th scope="col">Sıcaklık</th>
                   <th scope="col">Tarih</th>            
                 </tr>
               </thead>
             <tbody>
            
             {% for temp in device %}
               <tr>
                   {% if temp.temperature >= 45 %} <!--  if komutuyla sıcaklık 30 üstü olanlar kırmızı satır olacak --> 
                 <th scope="row" style="background-color:#FF0000">{{temp.id}}</th>
                 <td style="background-color:#FF0000">{{temp.temperature}}</td>
                <!--  <td> {{temp.date}}</td>  ilk hali saniyesiz --> 
                  <td style="background-color:#FF0000"> {{temp.date|date:'Y-m-d H:i:s'}}</td> <!--  -->        
                       {% if temp.mailSend == False %}
                       <td style="background-color:#FF0000"> {{temp.mailSend}}</td>
                       {% else %}
                       <td style="background-color:#0000FF"> {{temp.mailSend}}</td>
                       {% endif %}
                   
                   {% else %}
            
                 <th scope="row" >{{temp.id}}</th>
                 <td> {{temp.device_name}}</td>
                 <td >{{temp.temperature}}</td>
                <!--  <td> {{temp.date}}</td>  ilk hali saniyesiz --> 
                  <td > {{temp.date|date:'Y-m-d H:i:s'}}</td> <!--  -->  
                  
            
                   {% endif %}
            
               
               </tr>  
            
             {% endfor %}
            
             </tbody>
            </table>
            <br>
        </div>
  {# ************************************************************************************************************************************************************** #}
  <!--  CHART GRAFIK  -->
        <div class="row">
          <div class="col-sm-10 offset-sm-1">
            <div id="chartdiv" >
                      <script>
                      $(document).ready(function(){
                      var ctx = document.getElementById('myChart').getContext('2d');
                      var myChart = new Chart(ctx, {
                          //type: 'bar',
                          type: 'line',
                          data: {
                              labels: [{% for tempss in device500 %}'{{tempss.date}}',{% endfor %}],
                              datasets: [{
                                            label: '# SICAKLIKLAR',
                                            data: [{% for tempss in device500 %}{{tempss.temperature}},{% endfor %}],
                                            fill: false,    //kullanılmazsa grafik altı dolu gelir   
                                            borderColor: ['rgba(255, 10, 10, 10)',],  
                                            borderWidth: 3
                                        }]  
                                },
                          options: {
                              responsive: true,
                              hover: {
                                      mode: 'nearest',
                                      intersect: true
                                    },
                              scales: {
                                x:      {reverse:true,},
                                xAxes: [{
                                        display: true,
                                        scaleLabel: {
                                            display: true,
                                            reverse:true,
                                            labelString: 'Tarih-Saat'
                                                    },
                                ticks:{
                                      reverse:true, //x ekeseni ters gösterim
                                      beginAtZero: true,
                                    }
                                      }],
                                y:{   //chart.js 3.6.0 versiyon y ekseni
                                      beginAtZero: true
                                  },
      
                                  yAxes: [{
                                      display: true,
                                  scaleLabel: {
                                    display: true,
                                    reverse:true,
                                    labelString: 'Sıcaklık Değeri'
                                  },
                                      ticks: {
                                        reverse:true, 
                                          beginAtZero: true
                                      }
                                  }]
                              }
                          }
                      });
                      });
                          //document.write("labels degeri: ");
                      </script>
              <canvas id="myChart" width="300" height="150" style="border:1px solid #000000;"></canvas>
            </div>
          </div>
        </div>
</div>

{% endblock content %}
